.cards {
	@media #{$large-screen} {
		width: 850px;
		margin: 40px auto;
		column-count: 2;
		column-gap: 20px;
	}
	@media #{$small-screen} {
		width: 400px;
		max-width: calc(100vw - 40px);
		margin: 20px auto;
	}

	.card {
		padding: 10px;
		text-align: left;
		border-width: 4px;
		border-style: solid;
		break-inside: avoid;
		margin-bottom: 20px;

		&.image {
			padding: 0;
		}

		> :not(:last-child) {
			margin-bottom: 6px;
		}

		.links {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
