* {
	text-align: inherit;
	box-sizing: inherit;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

body {
	text-align: center;
	box-sizing: border-box;
}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
