@font-face {
  font-family: 'Fira Code';
  src: url('/font/woff2/FiraCode-Regular.woff2') format('woff2'),
    url("/font/woff/FiraCode-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/font/woff2/FiraCode-Bold.woff2') format('woff2'),
    url("/font/woff/FiraCode-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
	font-family: 'Fira Code', monospace;
	font-weight: 400;
	font-variant-ligatures: none;
	@media #{$large-screen} {
		font-size: 16px;
	}
	@media #{$small-screen} {
		font-size: 14px;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

a {
	text-decoration: none;
	border-bottom: 2px dashed;
	transition: all 0.2s;
}

svg.feather {
	height: 18px;
	margin: 0 -2px;
	transform: translateY(4px);
}

